In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("dataset\ESSHA CM 04th Dec.xlsx")
df2 = pd.read_csv("dataset\DHPO101.csv")

In [3]:
df1.shape,df2.shape

((760, 13), (2065, 41))

In [4]:
df1 = df1.dropna(subset=['Route Code'])

In [14]:
df1 = df1.drop_duplicates(subset=["Customer Name"],keep="first")
df1["Customer Name"].unique().shape

(688,)

In [5]:
df1.isna().sum()

DIST CD            0
DIST NAME          0
Customer UID       0
customer code      0
Route Code         0
Customer Name      0
Address1           0
Address2           0
Pin Code           0
Tin No.          706
Group 2           25
LATITUDE          10
LONGITUDE         10
dtype: int64

In [6]:
df1[['LATITUDE', 'LONGITUDE']] = df1[['LATITUDE', 'LONGITUDE']].fillna('')

In [7]:
df1.isna().sum()

DIST CD            0
DIST NAME          0
Customer UID       0
customer code      0
Route Code         0
Customer Name      0
Address1           0
Address2           0
Pin Code           0
Tin No.          706
Group 2           25
LATITUDE           0
LONGITUDE          0
dtype: int64

In [15]:
import pandas as pd


# Perform an equi-join on 'customer code' and 'CUST_CD1'
merged_df = pd.merge(df1, df2, left_on='customer code', right_on='CUST_CD1', how='inner')

merged_df.sort_values("Customer Name", inplace=True)
merged_df.reset_index(drop=True, inplace=True)

# Initialize an empty list to store the JSON documents
json_output = []

# Iterate over the merged DataFrame to create JSON documents
for index, row in merged_df.iterrows():
    json_doc = {
        "party_id": f"PA{index:04d}",
        "partyName": row['Customer Name'],
        "route": row['Route Code'],
        "phoneNumber": row['MOBILE_NO'],
        "gst": row['Tin No.'] if pd.notnull(row['Tin No.']) else '',
        "available": 1,
        "address": f"{row['Address1'].strip()} {row['Address2'].strip()} {int(row['Pin Code'])}",
        "coordinate": f"{row['LATITUDE_y']} {row['LONGITUDE_y']}"
    }
    json_output.append(json_doc)

# Print or return the array of JSON documents
print(len(json_output))

688

In [17]:
json_output[0]

{'party_id': 'PA0000',
 'partyName': '(Friends Canteen) SANKARA POLYTECHNIC COLLEGE',
 'route': 'PSR2',
 'phoneNumber': '8220019531',
 'gst': '',
 'available': 1,
 'address': 'TUDIYALUR ROAD  SARAVANAMPATTY COIMBA Coimbatore COIMBATORE 641035',
 'coordinate': '11.087106 76.986763'}

In [35]:

import json

with open("parties.json",'w') as jsonfile:
  json.dump(json_output,jsonfile,indent=4)